##
## .gitignore for my_rpg
##

# main
asm/asm
corewar/corewar

## Binary
**/*.out
**/*.gcno
**/*.gcda

# Compiled Object files
**/*.slo
**/*.lo
**/*.o
**/*.a
**/*.obj
**/*.gch
**/*.old
**/*~

# test files
**/*.s
**/*.S
**/*.asm

# .gitignore
!**/.gitignore

# trash
**/*test*
!tests/
.trash
**/*.log
**/*valgrind*.log.core.*
.vscode
**/*.txt
**/*.log
**/vgcore.*
**/*.zip
corewar_binaries
**/*gdb*
**/*.gz
**/*.tgz
**/*.tar